
<!-- contenedor información sobre mi -->
<div class="contenedor_sobreMi triangle">
        <div class="info_sobreMi">
            <p>¡Hola!</p>
            <br>
            <p>Soy Ester, <span class="texto_resaltado">Ingeniera técnica en Informática de Sitemas</span> y <span class="texto_resaltado">Full Stack Developer</span>. Me apasiona el mundo de la programación web. El super poder que conlleva ser desarrolladora full stack me permite crear aplicaciones de todo tipo totalmente funcionales, lo que me lleva a estar continuamente dandole vueltas a nuevas ideas y nuevas creaciones...¡soy una mente inquieta!</p>
            <br>
            <p>Pero no todo es programación en mi vida. En mis ratos libres me encanta disfrutar de mi familia, conocer nuevos lugares, los planes improvisados, la buena gastronomía, los animales y la naturaleza.</p>
            <br>        
            <p>A nivel profesional he tenido la oportunidad de diseñar y desarrollar varias aplicaciones que puedes descubrir en mi perfil de Linkedin o en mi repositorio de GitHub. Te invito a que los explores...</p>
            <div class="botones_links">
                <a href="https://www.linkedin.com/in/estersj" target="_blank" class="botones_links--enlace">Linkedin</a>
                <a href="https://github.com/EsterSJ" target="_blank" class="botones_links--enlace">GitHub</a>
            </div>
        </div>
        <img class="foto_perfil" src="assets/img/foto_perfil.jpg" alt="">
</div>

<!-- contenedor formacion y experiencia -->
<div class="experiencia">
    <div class="formacion">
        <h1> FORMACIÓN</h1>
        <br>
        <p class="texto_formacion"><img src="assets/img/logo_codenotch.png" class="logo_formacion">Bootcamp desarrollo web y móvil Full Stack</p>
            <ul class="lista">
                <li>Desarrollo Frontend</li>
                <li>Desarrollo Backend</li>
                <li>Bases de Datos SQL y NoSQL</li>
                <li>API REST</li>
                <li>Control de versiones</li>
                <li>Metodologias ágiles</li>
                <li>Despliegue de aplicaciones</li>
            </ul>
            <p class="texto_formacion"><img src="assets/img/logo_urjc.png" class="logo_formacion">Ingeniería Técnica en Informática de Sistemas</p>
            <ul class="lista">
                <li>Sistemas Operativos</li>
                <li>Redes</li>
                <li>Ingeniería de Software</li>
                <li>Arquitectura de PCs</li>
                <li>Sistemas Multimedia Distrubuidos</li>
                <li>Programación</li>
                <li>Robótica</li>
            </ul>
    </div>
    <div class="laboral">
        <h1> EXPERIENCIA</h1>
        <br>
        <p class="texto_formacion"><img src="assets/img/logo_codenotch.png" class="logo_formacion">Desarrolladora Full Stack</p>
            <ul class="lista">
                <li>Desarrollo Frontend</li>
                <li>Desarrollo Backend</li>
                <li>Bases de Datos SQL y NoSQL</li>
                <li>API REST</li>
                <li>Control de versiones</li>
                <li>Metodologias ágiles</li>
                <li>Despliegue de aplicaciones</li>
            </ul>
        <p class="texto_formacion"><img src="assets/img/logo_tuv.png" class="logo_formacion">TÜV Rheinland Iberica S.A. </p>
            <ul class="lista">
                <li>Desarrollo Frontend</li>
                <li>Desarrollo Backend</li>
                <li>Bases de Datos SQL y NoSQL</li>
                <li>API REST</li>
                <li>Control de versiones</li>
                <li>Metodologias ágiles</li>
                <li>Despliegue de aplicaciones</li>
            </ul>
    </div>
</div>

<!-- contenedor tecnologias -->
<div class="tecnologias">
    <div class="tech">TECNOLOGÍAS</div>
    <div class="logos_tech">
        <img class="logo" src="assets/img/javascript.png" alt="">
        <img class="logo" src="assets/img/typescript.png" alt="">
        <img class="logo" src="assets/img/html.png" alt="">
        <img class="logo" src="assets/img/bootstrap.svg" alt="">
        <img class="logo" src="assets/img/angular.png" alt="">
        <img class="logo" src="assets/img/nodejs.png" alt="">
        <img class="logo" src="assets/img/mysql.png" alt="">
        <img class="logo" src="assets/img/mongodb.png" alt="">
        <img class="logo" src="assets/img/jquery.png" alt="">
        <img class="logo" src="assets/img/php.png" alt="">
        <img class="logo" src="assets/img/c.png" alt="">
        <img class="logo" src="assets/img/postman.svg" alt="">
        <img class="logo" src="assets/img/gcs.png" alt="">
        <img class="logo" src="assets/img/vercel.svg" alt="">
        <img class="logo" src="assets/img/aws.jpeg" alt="">
        <img class="logo" src="assets/img/railway.svg" alt="">
        <img class="logo" src="assets/img/git.png" alt="">
        <img class="logo" src="assets/img/github.png" alt="">
    </div>
</div>

<div class="footer">
    <i class="bi bi-github icono_footer"></i>
    <i class="bi bi-linkedin icono_footer"></i>
</div>
