<div class="contenedor_sobreMi triangle">
    <div class="info_sobreMi">
        <p>¡Hola!</p>
        <br>
        <p>Soy Ester, <span class="texto_resaltado">Ingeniera técnica en Informática de Sitemas</span> y <span class="texto_resaltado">Full Stack Developer</span>. Me apasiona el mundo de la programación web. El super poder que conlleva ser desarrolladora full stack me permite crear aplicaciones de todo tipo totalmente funcionales, lo que me lleva a estar continuamente dandole vueltas a nuevas ideas y nuevas creaciones...¡soy una mente inquieta!</p>
        <br>
        <p>Pero no todo es programación en mi vida. En mis ratos libres me encanta disfrutar de mi familia, conocer nuevos lugares, los planes improvisados, la buena gastronomía, los animales y la naturaleza.</p>
        <br>        
        <p>A nivel profesional he tenido la oportunidad de diseñar y desarrollar varias aplicaciones que puedes descubrir en mi perfil de Linkedin o en mi repositorio de GitHub. Te invito a que los explores...</p>
        <div class="botones_links">
            <a href="https://www.linkedin.com/in/estersj" target="_blank" class="botones_links--enlace">Linkedin</a>
            <a href="https://github.com/EsterSJ" target="_blank" class="botones_links--enlace">GitHub</a>
        </div>
    </div>
    <img class="foto_perfil" src="assets/img/foto_perfil.jpg" alt="">
</div>
