.contenedor_proyectos{
    background-image: url("/assets/img/proyectos_claro.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center top; 
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 15vh;
    padding-bottom: 8vh;
    justify-content: center;
    align-items: center;

}

/* @media (max-width: 480px) {

    .contenedor_proyectos{
        gap: 0px;
    }

} */