<div class="home">
    <div class="contacto">
        <a href="https://api.whatsapp.com/send/?phone=34658103025" target="_blank" class="boton_contacto"><i class="bi bi-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/estersj" class="boton_contacto" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="http://localhost:4200/contacto" class="boton_contacto"><i class="bi bi-envelope-at"></i></a>
    </div>
    <div class="contenido">
        <img src="assets/img/logo_portfolio.png" alt="" class="img_logo">
        <p class="nombre">Ester Sánchez Jiménez</p>
        <br>
        <br>
        <br>
        <div class="developer">
            <p>Frontend Developer </p>
            <i class="bi bi-suit-diamond-fill icono"></i> 
            <p> Backend Developer </p>
            <i class="bi bi-suit-diamond-fill icono"></i> 
            <p> FullStack Developer</p>
        </div>
        <p>Ingeniera Técnica en Informática de Sistemas</p>
        <br>
        <br>
        <div class="botones">
            <button (click)="descargarCV();">Descarga mi CV</button>
            <button class="boton_vacio" (click)="videoCV();">Conóceme</button>
        </div>
    </div>
</div>