@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~font-awesome/css/font-awesome.css";

/* fuentes */
@font-face {
    font-family: 'portfolio';
    src: url(assets/fonts/DINNeuzeitGroteskLT-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "portfolio";
}

:root{
    --blanco: #FFFFFF;
    --negro: #000000;
    --turquesa: #009C97;
}